.list-element-container {
    background-color: #fcf1d5;
    margin-top: 10px;
    padding-left: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    list-style: none;
    width: 400px;
    transition: ease all 1s;
}

.list-element-container:hover {
    background-color: #bdb5a0;
    cursor: pointer;
}

.list-element-container:last-child {
    margin-bottom: 25px;
}

.list-element-song {
    font-size: 18px;
    margin: 0;
}

.list-element-band {
    font-size: 14px;
    margin: 0;
}

.list-element-icon {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 420px){
    .list-element-container {
        width: 98%;
    }
}