.playlist-component--container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.playlist-component--link {
    background-color: #7f0000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 14px;
    text-decoration: none;
    margin-top: 10px;
    height: 120px;
    width: 360px;
    border: 2px solid #fcf1d5;
    color: #fcf1d5;
    font-weight: 700;
    transform: scale(.95);
    animation: slideX 1.5s;
}

@keyframes slideX{
    from{
        transform: translateX(-200px);
    }to{
        transform: translateX(0);
    }
}

.playlist-component--link:hover {
    background-color: #fcf1d5;
    color: black;
    transform: scale(1);
}

@media screen and (max-width: 420px){
    .playlist-component--link {
        transform: scale(1);
    }
}